.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #305db8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: montserrat;
}

p1{
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Instagram-logo {
  height: 80px;
  width: auto;
  transition: transform 0.2s;
}

.Instagram-logo:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.Registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Registration-form input {
  padding: 10px;
  margin: 5px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.Registration-form button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Registration-form button:hover {
  background-color: #47a7f5;
}
